/* CSS Style Sheet for index.html the main site for wdd 230 Yukari Hall*/

/* import fonts from Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@700&display=swap");

:root {
    /* color palette for webpage */
    --primary-color: #002e5d;
    --secondary-color: #0062b8;
    --accent1-color: #ffffff;
    --accent2-color: #666666;
    --accent3-color: #c0c0c0;
    --accent4-color: #5d0000;

    /* font styles for webpage */
    --heading-font: Paytone One, Georgia, serif;
    --paragraph-font: "Trebuchet MS", Arial, sans-serif;

    /* these colors below should be chosen from among your palette colors above */
    --headline-color-on-white: #002e5d; /* headlines on a white background */
    --headline-color-on-color: white; /* headlines on a colored background */
    --paragraph-color-on-white: #002e5d; /* paragraph text on a white background */
    --paragraph-color-on-color: #666666; /* paragraph text on a colored background */
    --paragraph-background-color: #ffffff;
    --nav-link-color: #ffffff;
    --nav-background-color: #002e5d;
    --nav-hover-link-color: #ffffff;
    --nav-hover-background-color: #0062b8;
}

html,
body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    font-family: var(--paragraph-font);
    font-size: 22px;
    line-height: 1.15;
    background-color: #ffffff;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--heading-font);
}
/* Mobile or Base Views ********************************* */

/* Header */

#headTitle {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 5px;
    gap: 20px;
    background-color: var(--accent3-color);
}

#profile-img {
    width: auto;
    height: 100px;
}

h1 {
    font-size: 2em;
    color: var(--headline-color-on-white);
}

/* Nav bar */
#menu {
    /* position: absolute;
    top: 0.25em;
    right: 0.25em; */
    color: #0062b8;
    /* var(--primary-color); */
    text-align: center;
    width: 40px;
    height: auto;
}

#menu::before {
    font-size: 2rem;
    content: "☰";
}

#menu.open::before {
    font-size: 1.5rem;
    content: "X";
}

.navigation {
    display: flex;
    flex-direction: column;
    list-style: none;
    background-color: var(--primary-color);
    color: var(--nav-link-color);
    margin: 0;
    padding: 0;
    white-space: nowrap;
}
.navigation li {
    display: none;
}
.navigation li a {
    display: block;
    padding: 1.5rem;
    text-align: center;
    text-decoration: none;
    color: red; 
    /* var(--nav-link-color); */
}
.navigation li a:hover {
    background-color: var(--nav-hover-background-color);
    color: var(--nav-hover-link-color);
    font-weight: 700;
}
.open li {
    display: block;
    width: 100%;
}
.open li a {
    display: block;
}

.navigation .active {
    color: yellow;
}

/* Main content section */
main {
    display: flex;
    flex-direction: column;
    /* text-align: center;
    margin: 0 75px; */
    margin: 0 auto;
    padding: 20px;
    background-color: var(--paragraph-background-color);
    color: var(--paragraph-color-on-white);
}
iframe {
    border: none;
}
.hero {
    position: relative;
}
.hero img {
    width: 100%;
    height: auto;
}
.hero-title {
    position: absolute;
    top: 30px;
    left: 30px;
    background: radial-gradient(#fff, #6596c5);
    border: 1px solid rgba(101, 150, 197, 1);
    padding: 0.8rem;
    box-shadow: 0 0 3rem #fff;
    opacity: 0.65;
    white-space: nowrap;
}
.hero-title p {
    margin: 0;
    padding: 0.25rem;
    font-weight: 700;
    font-size: 1.1rem;
}

.attribute {
    font-size: 1em;
    padding: 15px;
    text-align: center;
    border-bottom: 1px solid var(--accent3-color);
}

/* Section Card Area */
.card-grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 1rem;
}

/* Section Card */
.card {
    display: flex;
    flex-direction: column;
    border: solid 1px var(--accent3-color);
    border-radius: 10px;
}

.card-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: var(--primary-color);
    color: var(--accent1-color);
    border-radius: 10px 10px 0 0;
    justify-content: center;
}

.card-content {
    padding: 20px;
}
.card-content div{
    margin: 0 0 10px 0;

}

.la-card {
    list-style-type: none;
    padding: 0;
}

.la-card li {
    padding: 5px;
}

.la-card li a {
    font-size: 0.72em;
}
/* Map section */
.map {
    display: flex;
    border: solid 1px var(--accent3-color);
    border-radius: 10px;
}

.map iframe {
    width: 100%;
    height: 450px;
    border-radius: 10px;
}

/* Footer */
footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
    align-items: center;
    background-color: var(--primary-color);
    color: #ffffff;
    padding: 25px 50px;
    margin-top: auto;
}

footer a {
    color: #ffffff;
    text-decoration: none;
}

footer a:hover {
    color: var(--nav-hover-background-color);
}

footer p {
    font-size: 0.65em;
    margin: 5px;
}

footer p a:hover {
    text-decoration: underline;
}

footer .footer-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}
footer .social {
    display: flex;
    flex-direction: row;
    gap: 5px;
}
footer .social a {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

footer .social img {
    width: 30px;
    height: 30px;
}

#azFlag {
    width: auto;
    height: 30px;
}

.copyright {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

/* Weather Article ********************************* */

#weather h4 {
    margin: 0;
    padding: 15px;
    background-color: orange;
    color: white;
    text-transform: uppercase;
}
/* #weather div {
    text-align: center;
    padding: 15px;
    background-color: #f8fafc;
} */
#weather p {
    margin: 10px 0 0 0;
    text-align: center;
}
#weather figure {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
}
.temp-area {
    display: flex;
    justify-content: center;
    align-items: center;
}
#current-temp {
    font-size: 3em;
    font-weight: 800;
}
.temp-area figure {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0;
}
#weather-description {
    font-size: 1.5em;
    font-weight: 800;
    text-transform: uppercase;
}
.alt-weather {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 10px;
    gap: 10px;

}
.weather-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2px;
    padding: 15px;
    /* border: 1px solid var(--accent3-color); */
    font-size: .8rem;
}
.weather-box span{
    font-weight: 800;
    font-size: 1.5rem;
}