/* ******************************************
    CSS Style Sheet for the Scoots site 
    wdd 230 Yukari Hall
********************************************* */
/* Google fonts  */
@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
    /* Site Colors */
    --primary-color: rgb(158, 207, 243); /* Emerald 400 */
    --secondary-color: #ffffff; /* White */
    --accent1-color: #818cf8; /* Indigo 400 */
    --accent2-color: #38bdf8; /* Sky 400 */
    --accent3-color: #35e6b7; /* Lime 400 */
    --accent4-color: #fb7185; /* Rose 400 */
    --accent5-color: #3730a3; /* Indigo 800 */

    /* Font Colors */
    --text-color-main: #020617; /* Slate 950 */
    --text-color-header: #1e1b4b; /* Indigo 950 */
    --text-color-secondary: #ffffff; /* White */

    /* Site Fonts */
    --heading-font: "Poppins", sans-serif;
    --paragraph-font: "Merriweather", serif;

    --success-text: #3c763d;
    --success-background: #dff0d8;
    --success-border: #d6e9c6;

    --error-text: #a94442;
    --error-background: #f2dede;
    --error-border: #ebccd1;

    /* --back: rgba(56, 189, 248, 1); */
    /* --back2: rgba(56, 189, 248, 0.5); */
    --back2: rgba(85, 250, 162, 0.435);
    --foredark: hsla(0, 0%, 10%, 1);
    --forelight: hsla(0, 0%, 100%, 1);
    --border: hsla(0, 0%, 20%, 0.8);
    --borderlight: hsla(0, 0%, 33%, 0.3);
    --shadow: hsl(0, 0%, 50%);
    --zebra: hsl(0, 0%, 93%, 1);
}

/* *********************************
    Site Styles
************************************ */
html,
body {
    margin: 0;
    padding: 0;
    font-family: var(--paragraph-font);
    font-size: 20px;
    font-weight: 400;
    font-style: normal;
    line-height: 1.5;
    background-color: #ffffff;
    width: 100%;
    height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--heading-font);
    font-style: normal;
}

/* *********************************
    Header and Navigation 
************************************ */
header {
    display: flex;
    /* justify-content: space-between; */
    padding: 10px 130px;
    background-color: var(--primary-color);
}
.nav-brand {
    display: flex;
    align-items: center;
    padding: 10px 50px;
    gap: 5px;
}
.nav-brand img {
    width: 60px;
    height: auto;
}
.nav-box {
    display: flex;
    gap: 20px;
}
.nav-info {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 50px;
    padding: 0;
}
.nav-info input {
    display: none;
}
#nav-title {
    margin-right: auto;
    font-size: 0.8em;
    font-weight: 700;
    color: var(--text-color-header);
}
.nav-links {
    display: flex;
    justify-content: center;
    align-items: center;
}
header ul {
    display: flex;
    justify-content: space-between;
    list-style: none;
    margin: 0;
    padding: 0;
    /* gap: 2em; */
}

header li {
    list-style: none;
    display: inline-block;
    margin: 0;
    padding: 25px;
}
header a {
    text-decoration: none;
    color: var(--text-color-header);
    transition: all 0.3s ease 0s;
    font-size: 1.2em;
}
header a:hover,
.active-page:hover {
    /* background-color: var(--primary-color); */
    /* color: var(--text-color-secondary); */
    color: #4338ca;
    font-weight: 900;
}
.active-page {
    /* color: var(--text-color-secondary); */
    color: #4338ca;
    font-weight: 900;
}

/* Add this CSS for mobile styles */
@media screen and (max-width: 768px) {
    .nav-links {
        display: none;
        position: absolute;
        top: 80px;
        left: 0;
        width: 100%;
        background-color: var(--primary-color);
        z-index: 1000;
    }
    .nav-links ul {
        display: block;
        text-align: center;
        margin: 0;
        padding: 0;
    }

    .nav-links ul li {
        display: block;
        padding: 10px 0;
    }

    .nav-links ul li a {
        display: block;
        color: var(--text-color-header);
        padding: 10px 0;
    }
    .nav-links ul li a:hover {
        color: var(--text-color-secondary);
    }
    .nav-links ul li a.active-page {
        color: var(--text-color-secondary);
        font-weight: 900;
    }

    .nav-toggle:checked + .nav-links {
        display: block;
    }

    .nav-btn {
        display: block;
        cursor: pointer;
    }

    .nav-btn span {
        display: block;
        width: 30px;
        height: 2px;
        background-color: var(--text-color-header);
        margin: 6px 0;
    }
}

/* *********************************
    Footer Styles 
************************************ */

footer section {
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-rows: auto;
    grid-gap: 10px;
    margin: 0 auto;
    max-width: 100%;
    background-color: var(--accent1-color);
    color: var(--text-color-header);
    padding: 30px 70px;
}
.footer-title {
    grid-row: 1;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;
}
.address-block {
    flex-direction: column;
    grid-row: 2;
    margin-bottom: 1em;

}
/* .maps-block {
    grid-column: 4 / span 3;
    grid-row: 2;
    margin-bottom: 1.5em;

} */
.logo-block {
    grid-row: 3;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-bottom: 1em;
}

.social-media-block {
    grid-row: 5;
    margin-bottom: 0.2em;
}
.footer-nav {
    grid-row: 4;
    margin-bottom: 1em;
}
.legal {
    grid-row: 6;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    font-size: 0.7em;
    color: var(--text-color-header);
}
.legal a {
    color: var(--text-color-header);
    text-decoration: none;
}
.legal a:hover {
    color: var(--text-color-secondary);
}
.address-block h3 {
    margin: 0 0 0.5em 0;
    font-size: 1.25em;
    font-weight: 600;
    color: var(--text-color-header);
}

.footer-title h2 {
    font-size: 1.5em;
    font-weight: 700;
}

.footer-title img {
    width: 60px;
    height: auto;
}

.address {
    display: flex;
    flex-direction: column;
    font-size: 0.8em;
    gap: 0.8em;
}
.address-title {
    font-weight: 800;
    font-size: 1.1em;
    color: var(--text-color-header);
    margin: 0;
}
.address a {
    text-decoration: none;
    color: var(--text-color-header);
}
.address a:hover {
    color: var(--text-color-secondary);
}
.address .address-group {
    display: flex;
    gap: 0.5em;
}
.street {
    display: flex;
    flex-direction: column;
}
.street p {
    margin: 0;
    gap: 0.5em;
}

/* Social Media icons */

.social-media-links {
    font-size: 0;
    padding: 0;
}
.social-media-link {
    display: inline-block;
    vertical-align: top;
    opacity: 0.8;
    -webkit-transition: opacity 0.15s cubic-bezier(0.58, 0.3, 0.51, 0.82);
    -o-transition: opacity 0.15s cubic-bezier(0.58, 0.3, 0.51, 0.82);
    transition: opacity 0.15s cubic-bezier(0.58, 0.3, 0.51, 0.82);
    margin: 0.5rem;
}
.social-media-link:last-child {
    margin-right: 0;
}
.social-media-link a {
    display: block;
}
.social-media-link a .icon {
    display: block;
    height: 1.5rem;
    width: auto;
}

.social-media-link a .icon-tripadvisor .head {
    fill: transparent;
}
.social-media-link a:hover .icon-tripadvisor {
    fill: #08090e;
}
.menu .social-media-link a:hover .icon-tripadvisor {
    fill: #fff;
}
.social-media-link a:hover .icon-tripadvisor .head {
    fill: #fac415;
}
.social-media-link a:hover .icon-tripadvisor .left-eye {
    fill: #ee6946;
}
.social-media-link a:hover .icon-tripadvisor .right-eye {
    fill: #00af87;
}
.social-media-link a:hover .icon-facebook {
    fill: #1877f2;
}
.social-media-link a:hover .icon-google-my-business {
    fill: #4285f4;
}
.social-media-link a:hover .icon-yelp {
    fill: #af0606;
}

.footer-nav h3 {
    margin: 0 0 0.5em 0;
}
.footer-nav ul {
    flex: 1 50%;
    margin-right: 1.25em;
    list-style: none;
    padding: 0;
    margin: 0;
    cursor: pointer;
}
.footer-nav ul a {
    color: var(--text-color-header);
}

.footer-nav li {
    line-height: 2em;
}
.footer-nav a {
    text-decoration: none;
}
.footer-nav a:hover {
    color: var(--text-color-secondary);
    /* background-color: var(--primary-color);
    padding: 10px 20px;
    border-radius: 5px; */
}

/* *********************************
    Button Styles
 ********************************* */

.btn {
    border-radius: 0.375rem;
    border-width: 1px;
    border-color: transparent;
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.5rem;
    cursor: pointer;
    padding: 0.8rem 1.8rem;
    cursor: pointer;
}
.btn.btn-secondary {
    padding: 0.6rem 1.6rem;
}
.btn.btn-reserve {
    padding: 0.4rem 1.2rem;
}

.btn-primary {
    text-decoration: none;
    color: #ffffff;
    background-color: #4f46e5;
}
.btn-primary:hover {
    background-color: #6366f1;
}
.btn-secondary,
.btn-reserve {
    text-decoration: none;
    color: var(--text-color-header);
    background-color: var(--accent3-color);
}
.btn-secondary:hover,
.btn-reserve:hover {
    background-color: #648af2;
}

/* *********************************
    Hero Section Styles
************************************ */

/* .hero-section {
    display: grid;
    grid-template-rows: repeat(2, minmax(0, 1fr));
    grid-auto-flow: column;
    gap: 1rem;
} */

.hero-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-info {
    padding-left: 1rem;
    padding-right: 1rem;
    max-width: 1280px;
}

.hero-info section {
    text-align: center;
}

.hero-info section h2 {
    font-size: 2.25rem;
    font-weight: 800;
    letter-spacing: -0.025em;
    line-height: 2.5rem;
    color: #111827;
}

.hero-info span {
    /* color: #4f46e5; */
    color: red;
}
.hero-info p {
    margin-top: 0px;
    font-size: 1.5rem;
    line-height: 1rem;
    color: #6b7280;
}

.hero-image {
    object-fit: cover;
    width: 100%;
    background-position: center;
    background-size: cover;
    background-image: url("../images/heros/home-hero.webp");
}

@media (min-width: 640px) {
    .hero-section {
        grid-template-columns: repeat(2, minmax(0, 1fr));
        grid-template-rows: repeat(1, minmax(0, 1fr));
    }
    .hero-info h2 {
        font-size: 3rem;
        line-height: 1;
        line-height: 1;
    }
    .hero-info p {
        margin-top: 1.25rem;
        max-width: 36rem;
        font-size: 1.125rem;
        line-height: 1.75rem;
    }
    .hero-image {
        height: auto;
    }
}

@media (min-width: 768px) {
    .hero-info h2 {
        font-size: 3.75rem;
        line-height: 1;
    }
    .hero-info p {
        margin-top: 1.25rem;
        font-size: 1.25rem;
        line-height: 1.75rem;
    }
    .btn {
        padding: 1rem 2.5rem;
        font-size: 1.125rem;
        line-height: 1.75rem;
    }
    .hero-image {
        height: 100vh;
    }
}

@media (min-width: 1024px) {
    .hero-info {
        padding-left: 4rem;
        padding-right: 4rem;
    }
    .hero-info h2 {
        margin-left: 0;
        margin-right: 0;
    }
    .hero-image {
        width: 100%;
    }
}
.contact-hero {
    background-image: url("../images/heros/contact-hero.jpg");
    background-position: center;
    background-size: cover;
    width: 100vw;
    height: 50vh;
}
.reservations-hero {
    background-image: url("../images/heros/reservations-hero.jpg");
    background-position: center;
    background-size: cover;
    width: 100vw;
    height: 50vh;
}
.rental-hero {
    background-image: url("../images/heros/rental-hero.jpg");
    background-position: center;
    background-size: cover;
    width: 100vw;
    height: 50vh;
}
.overlay {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.3);
    color: white;
    width: 100%;
    height: 100%;
}
.overlay h2 {
    font-size: 2.25rem;
    font-weight: 800;
    letter-spacing: -0.025em;
    line-height: 2.5rem;
}
.overlay p {
    margin-top: 1.25rem;
    font-size: 1.25rem;
    line-height: 1.75rem;
    text-align: center;
}
/* *********************************
    // END Hero Section Styles
************************************ */

/* ********************************* */
.home-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 0 auto;
    padding: 20px 80px;
    background-color: #f0f9ff;
    color: var(--text-color-header);
}
.home-info h2 {
    font-size: 2em;
    font-weight: 700;
    margin: 15px 0;
}
.home-info h3 {
    font-size: 1.5em;
    font-weight: 600;
    margin: 5px 0;
}
.home-info p {
    margin: 10px 0;
}
.home-info h4,
h5 {
    font-size: 1.2em;
    font-weight: 600;
    margin: 5px 0;
}
.home-info div {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 20px 0;
}
@media (min-width: 768px) {
    .home-info div {
        flex-direction: row;
    }
}
/* ********************************* */
.home-rides-info,
.places-info,
.rental-rides-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    padding: 0 30px;
    color: var(--text-color-header);
}

.separator::before,
.separator::after {
    background-color: #cbd5e1;
    content: "";
    display: inline-block;
    height: 3px;
    position: relative;
    vertical-align: middle;
    width: 50%;
}
.separator::before {
    right: 0.5em;
    margin-left: -50%;
}
.separator::after {
    left: 0.5em;
    margin-right: -50%;
}

/* Cards */
.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 50px;
    margin: 0 auto 20px auto;
    padding: 0 30px;
}
.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    border: 1px solid #ccc;
    box-shadow: 2px 2px 6px 0px rgba(0, 0, 0, 0.3);
    text-align: center;
    line-height: 1.3;
    width: 100%;
    max-width: 375px;
}
.card-hours {
    display: flex;
    flex-direction: column;
    padding: 10px;
    border: 1px solid #ccc;
    box-shadow: 2px 2px 6px 0px rgba(0, 0, 0, 0.3);
    text-align: center;
    max-width: 300px;
}

.card h3 {
    font-size: 1.1em;
    font-weight: 700;
    margin: 10px 0;
}
.card h4 {
    font-size: 1em;
    font-weight: 600;
    margin: 0;
}
.card p {
    font-size: 0.85em;
    margin: 5px 0;
}
.card img {
    width: 300px;
    height: auto;
    max-height: 225px;
}
.card-body {
    padding: 0 0 10px;
    flex: 1;
}
.places-info img {
    width: 100%;
    height: 275px;
}
.places-info .card:nth-child(2) {
    width: 375px;
}
.cost {
    font-size: 2em;
    font-weight: 800;
}
.cost-type {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.cost-type p {
    margin: 0;
}
.cost-sp {
    font-size: 2.5em;
    font-weight: 600;
    color: lightgray;
}

/* Reservations Banner */
.reservations-banner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px 50px;
}
.reservations-banner.banner-one div {
    text-align: center;
    padding: 20px;
    order: 1;
}
.reservations-banner.banner-two div {
    text-align: center;
    padding: 20px;
    order: 2;
}
.reservations-banner.banner-one img {
    width: 400px;
    height: auto;
    order: 2;
}
.reservations-banner.banner-two img {
    width: 400px;
    height: auto;
    order: 1;
}
.banner-one {
    background-color: var(--accent3-color);
    color: var(--text-color-header);
}
.banner-two {
    background-color: var(--accent2-color);
    color: var(--text-color-header);
}

@media (min-width: 768px) {
    .reservations-banner {
        display: flex;
        flex-direction: row;
    }
}
/* Modal styles */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
    background-color: var(--success-background);
    color: var(--success-text);
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 400px;
}
.modal-content .icon svg {
    margin-right: 1rem;
    width: 1.5rem;
    height: 1.5rem;
    fill: currentColor;
}
.modal-content p {
    text-align: center;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

/* *********************************
    Contact Page Styles & Reservations Page Styles
************************************ */
.contact-area,
.reservations-area {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    padding: 20px 30px;
    color: var(--text-color-header);
}
.contact-area h2,
.reservations-area h3 {
    font-size: 1.5em;
    font-weight: 600;
    margin: 25px 0;
    text-align: center;
}
.contact-area .contact-body {
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.reservations-area .reservations-body {
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.contact-info {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    gap: 20px;
    order: 1;
    width: 100%;
    max-width: 600px;
}
.reservations-info {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    gap: 20px;
    order: 1;
    width: 100%;
    max-width: 800px;
}
.agreement {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    order: 1;
}
.agreement h2 {
    text-align: center;
    margin-bottom: 5px;
}

.contact-info h3 {
    text-align: center;
}
.contact-form,
.reservations-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    order: 2;
    width: 100%;
    max-width: 600px;
}
@media (min-width: 1024px) {
    .contact-area .contact-body {
        flex-direction: row;
    }
    .reservations-area .reservations-body {
        flex-direction: row;
    }
}
.reservations-area p {
    text-align: center;
}
.hours {
    margin: 25px auto;
}
.hours h5 {
    font-size: 1em;
    font-weight: 600;
    margin: 5px 0;
}
.hours p {
    font-size: 0.9em;
    margin: 5px 0;
}
.reservations-fun {
    text-align: center;
    color: var(--text-color-header);
    order: 3;
}
.reservations-fun img {
    width: 75%;
    height: auto;
}

iframe {
    width: auto;
    height: 300px;
    border: none;
}
form {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    gap: 10px;
    width: 100%;
}
fieldset {
    position: relative;
    margin: 1rem 0;
    border: 1px solid var(--text-color-header);
    border-radius: 10px;
    padding: 0.5rem;
    width: 100%;
    max-width: 20rem;
}
fieldset:last-of-type {
    margin-bottom: 5px;
}
legend {
    color: var(--text-color-header);
    margin: 0 1rem;
    padding: 0 0.5rem;
}
fieldset label.top,
fieldset div {
    display: block;
    padding-top: 1rem;
    color: var(--text-color-header);
    font-size: 0.8rem;
    width: 100%;
    max-width: 18rem;
}
fieldset label.top input,
fieldset label.top textarea,
fieldset label.top select {
    --webkit-appearance: none;
    display: block;
    font-size: 1rem;
    border: solid 1px #999;
    border-radius: 4px;
    padding: 0.75rem;
    background-color: rgba(0, 0, 0, 0.1);
    color: var(--text-color-main);
    width: 100%;
}
fieldset label.sbs {
    display: block;
    padding: 0.7rem 0.3rem 0;
    color: var(--text-color-header);
}
fieldset label.rad {
    display: block;
    padding: 0.15rem 0;
    color: var(--text-color-header);
}
fieldset label.top input:required,
fieldset label.top select:required,
fieldset label.top textarea:required {
    border-left: var(--error-text) solid 6px;
}
fieldset label.top input:required:valid,
fieldset label.top select:required,
fieldset label.top textarea:required:valid {
    border-left: var(--success-text) solid 6px;
}
/* Success Banner */
.email-banner {
    padding: 0.75rem 1rem;
    border-top: 4px solid var(--success-text);
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
    background-color: var(--success-background);
    z-index: 1000;
    width: 75%;
}
.email-container {
    display: flex;
}
.email-container p {
    margin: 0;
    padding: 0;
    font-size: 1rem;
    font-weight: 600;
    color: var(--text-color-header);
}
.email-container .icon {
    padding: 0.25rem 0;
}
.email-container .icon svg {
    margin-right: 1rem;
    width: 1.5rem;
    height: 1.5rem;
    fill: currentColor;
}

/* Attributions */
.attributions {
    display: flex;
    flex-direction: column;
    padding: 15px 50px;
    color: var(--text-color-header);
}
.attributions h3 {
    margin: 0;
}
/* Banner on home page */
.banner {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: var(--accent1-color);
    color: var(--text-color-header);
    padding: 15px;
    z-index: 1000;
}
.banner-show {
    display: flex;
}
.banner-hide {
    display: none;
}

.banner h2 {
    text-align: center;
    font-size: 1.2rem;
    margin: 0;
}

#closeBanner {
    background: none;
    color: var(--text-color-header);
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    font-size: 1.5rem;
}
#closeBanner:hover {
    color: var(--text-color-secondary);
}
.weather-container {
    display: flex;
    justify-content: center;
    font-size: 0.8rem;
    line-height: 1rem;
    background-color: #c7d2fe;
    color: var(--text-color-header);
}
.weather {
    display: flex;
    justify-content: center;
    margin: 0 15px;
    padding: 5px 20px;
    gap: 15px;
}

.weatherGroup span,
.futureWeatherGroup span {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.weatherGroup img {
    width: 30px;
    height: 30px;
}
.temp-day {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.tempDiv span {
    text-transform: lowercase;
    font-size: 0.65rem;
}
.temp-group {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    font-weight: 600;
}
.temp-group span:first-child {
    color: var(--accent5-color);
}
.temp-group span:last-child {
    color: var(--accent5-color);
}

/* Pricing Table */
.pricing {
    display: flex;
    justify-content: center;
    padding: 0 20px;
    color: var(--text-color-header);
    order: 2;
}

table {
    margin: 10px auto;
    border: thin solid var(--border);
    box-shadow: 0 0 10px var(--shadow);
    border-collapse: collapse;
    font-size: 0.75rem;
}

caption {
    padding: 10px;
    caption-side: bottom;
    color: var(--back);
    font-size: 0.85rem;
}

thead tr:first-child th {
    background-color: var(--back);
    color: var(--text-color-header);
    font-size: 1.3rem;
    padding: 15px;
}
thead tr:nth-child(2) th:first-child {
    background-color: var(--back);
    color: var(--forelight);
    padding: 15px;
}

th,
td {
    padding: 7px 15px;
    border: 1px solid var(--borderlight);
}

th {
    background-color: var(--back2);
    padding: 15px;
}

td {
    text-align: center;
}

tbody tr:nth-child(even) {
    background-color: var(--zebra);
}

tbody tr td:first-child {
    font-weight: bold;
}

.rental-benefits {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    padding: 20px 25px;
    color: var(--text-color-header);
    background-color: var(--accent2-color);
}
.rental-benefits h2 {
    font-size: 1.5em;
    font-weight: 600;
    margin: 5px 0;
}
.rental-benefits ul,
.agreement ul {
    display: flex;
    flex-direction: column;
    padding: 0;
}
.rental-benefits li,
.agreement li {
    display: flex;
    align-items: center;
    list-style: none;
    line-height: 1.6;
    gap: 10px;
}
.rental-benefits li::before,
.agreement li::before {
    content: "";
    display: inline-block;
    width: 0.875rem;
    height: 0.875rem;
    background-image: url("../images/svg/scooter-svgrepo-com.svg");
    background-size: cover;
}
.check-svg {
    width: 0.875rem;
    height: 0.875rem;
    color: var(--accent3-color);
}
