/*********/
@media screen and (min-width: 768px) {
  #navMenu ul{
    display: flex;
    flex-direction: row;
    margin: 0;
    padding: 0;
  }
  #navMenu li{
    margin-right: 20px;
  }
  #homePageMain {
      display: flex;
      padding: 0 10px;
  }
  nav {
    display:block;
    padding: 0 10px;
  }

  nav ul {
      grid-template-columns: 1fr;
  }

  .request{
    background-color: #f69c3cf1;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 1);
    padding: 20px;
    width: 1200px;
    height: 150px;
  }
  
}


/* Larger Views ******************
@media (min-width: 640px) {
	nav ul {
		display: flex;
	}
	nav ul li {
		flex: 1 1 100%;
	}
}
***********/
