body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
}

main {
  max-width: 800px; /* Limited width */
  margin: 0 auto; /* Center horizontally */
  padding: 20px;
  height: 1.6;
  color: #333; /* Dark gray text color */
  background-color: #f8f6f8; /* Light gray background color */
}

.card {
  margin-bottom: 20px;
  padding: 15px;
  border: 1px solid #ccc;
}

ul {
  list-style-type: none;
  padding: 0;
}

nav ul {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 10px;
}

footer {
  text-align: center;
  padding: 10px;
  background-color: #f4f4f4;
}

@media (max-width: 768px) {
  main {
      padding: 0 10px;
  }

  nav ul {
      grid-template-columns: 1fr;
  }
}